{% extends "base.html" %}

{% block content %}
<div align="center">
    <div>
    <p> </p>
    </div>
    <h2>OUR CONTACTS</h2>
    <div>
    <p> </p>
    </div>
    <div>
    <p>If a wanted person is identified, we ask you to inform the internal affairs bodies or the financial police about it at the following phone numbers:</p>
        <h5>Internal Affairs:</h5>
        <ul>
            <li>1.	Operations control center 414-41-20</li>
    </ul>

        <h5>Or call   - 102.</h5>

    </div>
</div>

{% endblock %}