{% extends "base.html" %}

{% block content %}
<div align="center">
    <div>
    <p> </p>
    </div>
    <h2>OUR CONTACTS</h2>
    <div>
    <p> </p>
    </div>
    <div>
    <p>В случае установления лица, находящегося в розыске, просим Вас сообщить об этом в органы внутренних дел или финансовой полиции по следующим номерам телефонов:</p>
        <h5>Органы внутренних дел:</h5>
        <ul>
            <li>1.	Центр оперативного управления (ЦОУ) МВД РК – (87172) 71-40-08,  71-40-09,  71-40-07;</li>
            <li>2.	Дежурная часть ДВД г.Астана – (87172) 71-60-10, 71-60-11;</li>
            <li>3.	ЦОУ ДВД Акмолинской области – (87162) 251695, 254063, 299013, 291007, 291008;</li>
            <li>4.	ЦОУ ДВД г.Алматы – (87272) 54-40-42, 54-40-07;</li>
            <li>5.	ЦОУ ДВД Алматинской области – (87282) 608007, 608008, 608140;</li>
            <li>6.	ЦОУ ДВД Актюбинской области – (87132) 51-38-37, 52-05-14, 51-46-08;</li>
            <li>7.	ЦОУ ДВД Атырауской области – (87122)  25-10-15, 98-10-42, 98-10-44;</li>
            <li>8.	ЦОУ ДВД Восточно-Казахстанской области – (87232) 23-50-04, 23-57-04;</li>
            <li>9.	ЦОУ ДВД Жамбылской области – (87262) 43-05-22;</li>
            <li>10.	ЦОУ ДВД Западно-Казахстанской области – (87112) 51-04-50, 98-45-30, 92-10-26;</li>
            <li>11.	ЦОУ ДВД Карагандинской области – (87212) 40-70-08, 40-70-09, 40-70-10;</li>
            <li>12.	ЦОУ ДВД Кызылординской области   - (87242) 27- 28-76, 27-23-68, 29-70-10;</li>
            <li>13.	ЦОУ ДВД Костанайской области – (87142) 53-26-26, 53-06-90;</li>
            <li>14.	ЦОУ ДВД Мангистауской области – (87292) 47-40-35, 47-40-36;</li>
            <li>15.	ЦОУ ДВД Павлодарской области – (87182) 32-39-83,39-12-41, 39-12-43, 55-39-73;</li>
            <li>16.	ЦОУ ДВД Северо-Казахстанской области – (87152) 39-40-07;</li>
            <li>17.	ЦОУ ДВД Южно-Казахстанской области – (87252) 21-21-87, 21-20-41, 97-66-10;</li>
            <li>18.	ДВД на транспорте – (8-3172) 38-65-09, 14-36-57.</li>
    </ul>

        <h5>ЛИБО ПО ТЕЛЕФОНУ   - 102.</h5>

        <h5>Органы финансовой полиции:</h5>
        <ul>
            <li>1.	АБЭКП РК г.Астана - 8(7172) 909353, 8 (7172) 909125;</li>
            <li>2.	ДБЭКП по г.Астана - 8(7172) 21-09-05;</li>
            <li>3.	ДБЭКП по Алматы - 8(727) 278-73-02;</li>
            <li>4.	ДБЭКП по Акмолинской области - 8(7162) 25-71-61;</li>
            <li>5.	ДБЭКП по Актюбинской области - 8(7132)56-41-56;</li>
            <li>6.	ДБЭКП по Алматинской области - 8(7282) 24-76-23;</li>
            <li>7.	ДБЭКП по Атырауской области - 8(7122) 32-24-21;</li>
            <li>8.	ДБЭКП по Восточно-Казахстанской области - 8(7232) 25-26-77;</li>
            <li>9.	ДБЭКП по Жамбылской области - 8(7262) 43-35-09;</li>
            <li>10.	ДБЭКП по Западно-Казахстанской области -  8(7112) 508496;</li>
            <li>11.	ДБЭКП по Карагандинской области - 8(7212) 412689;</li>
            <li>12.	ДБЭКП по Костанайской области - 8(7142) 537510;</li>
            <li>13.	ДБЭКП по Кызылординской области - 8(7242) 278240;</li>
            <li>14.	ДБЭКП по Мангистауской области - 8(7292) 531600;</li>
            <li>15.	ДБЭКП по Павлодарской области - 8(7182) 502681;</li>
            <li>16.	ДБЭКП по Северо-Казахстанской области -  8(7152) 464052;</li>
            <li>17.	ДБЭКП по Южно-Казахстанской области - 8(7252) 534387.</li>
        </ul>
    </div>
</div>

{% endblock %}